@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F4F6F8; /* Light Domino background */
}

::-webkit-scrollbar-thumb {
  background: #006491; /* Domino's Blue */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E31837; /* Domino's Red */
}
